*{
    background-color: rgb(18, 197, 197);
    padding: 0px;
    viewport-fit: 25px;
    
}
.container{
    
        margin: 20vh auto;
        width: 30%;
        border: 10px solid black;
        border-radius: 8px;
      
}
.head{
    margin-left: 10px;
    font-style: italic;
    align-items: center;
    color: coral;
    
}

.date {
    
    color: rgba(29, 5, 59, 0.527);
    text-align: center;
}
.btn{
    background-color: #000000;
    color: white;
    padding: 12px;
    margin: 20px;
    border: none;
    cursor: pointer;
}
.description{
    margin: 20px;

}